# data & outputs
data/*
saved/*
visualization/*
logger/*

data_exploration/data/*

# pytorch model files
*.pt
*.pth
*.ckpt

# python cache
__pycache__/
*.py[cod]

# virtual environments
venv/
.env/
.venv/

# IDEs
.vscode/
.idea/

# jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

